{{!-- Header --}}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Eat-Da-Burger</h1>
    </div>
  </div>
</div>

<div class="container main-page">
  {{!-- List of currently available burgers --}}
  <div class="container">
    <div class="row">
      <div class="col-sm-6" id="menu">
        <h2>Menu</h2>
        {{#each burgers}}
        {{#unless this.devoured}}
        {{this.burger_name}}
        <form class="devour" data-attr="{{this.id}}">
          <button type="submit">Devour It!</button>
        </form>
        <br>
        {{/unless}}
        {{/each}}
      </div>

      {{!-- List of unavailable burgers --}}
      <div class="col-sm-6" id="devoured">
        <h2>Eaten Burgers</h2>
        {{#each burgers}}
        {{#if this.devoured}}
        <form>
          <button id="eaten" type="button" disabled>{{this.burger_name}}</button>
        </form>
        <br>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- Add a burger to available burgers list --}}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Add a Burger</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center" id="add-a-burger">
        {{!-- Post to burgers api on submit --}}
        <form name="add-a-burger" action="/api/burgers" onsubmit="return validateForm()" method="POST">
          <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" name="burger_name">
            <button type="submit">Add to menu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>